@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --text: #051729;
  --background: #e3f1fc;
  --primary: #0e4977;
  --secondary: #6664ed;
  --accent: #3119cc;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d6e8fa;
    --background: #03111c;
    --primary: #88c4f1;
    --secondary: #14129b;
    --accent: #4b33e6;
  }
}

.dark {
  --text: #d6e8fa;
  --background: #03111c;
  --primary: #88c4f1;
  --secondary: #14129b;
  --accent: #4b33e6;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
